button {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  font-size: 1.5rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.switch {
  width: 3rem;
  height: rem;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: flex-start;
  border-radius: 50px;
  padding: 1px;
  cursor: pointer;
}

.switch[data-isOn='true'] {
  justify-content: flex-end;
}

.handle {
  width: 1.8rem;
  height: 1.8rem;
  background-color: white;
  border-radius: 40px;
  font-size: 1.2rem;
  color: black;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.mainButton {
  background: radial-gradient(
    circle,
    rgba(255, 150, 113, 1) 0%,
    rgba(255, 199, 95, 1) 100%
  );
  background-size: 200% auto;
  border: none;
  border-radius: 10px;
  color: #333;
  font-size: 1.5rem;
  font-weight: 700;
  height: 40px;
  width: fit-content;
  padding: 0 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-right: 10px;
  transition: box-shadow 200ms ease;
}

.projectsButton {
  background: none;
  border: 2px solid rgba(255, 150, 113, 1);
  color: rgba(255, 150, 113, 1);
}

.mainButton:hover {
  box-shadow: 0px 0px 10px 0px rgba(255, 150, 113, 1);
}

.index-buttons-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: auto;
}
