@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,900;1,900&family=Zilla+Slab&display=swap");

:root {
  --color-2: rgba(132, 94, 194, 1);
  --color-3: rgba(214, 93, 177, 1);
  --color-4: rgba(255, 111, 145, 1);
  --color-5: rgba(255, 150, 113, 1);
  --color-6: rgba(255, 199, 95, 1);
}

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  color: white;
  height: 100%;
  width: 100%;
  background: #333;
  background: radial-gradient(
    circle,
    rgba(51, 51, 51, 1) 70%,
    rgb(27, 27, 27) 100%
  );
}

a {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 900px) {
  html {
    font-size: 70%;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 85%;
  }
}

@media (min-width: 3000px) {
  html {
    font-size: 125%;
  }
}

#__next {
  height: 100vh;
}

/* Header */

header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  min-height: 10%;
}

header .logo {
  margin-right: auto;
}

header a {
  font-size: 1.3rem;
  padding: 0.5rem;
}

header a span {
  color: var(--color-4);
}

/* Main */

main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  height: 85%;
  max-width: 900px;
  margin: auto;
}

main h2 {
  font-size: 4rem;
}

main h3 {
  font-size: 2.5rem;
}
main p {
  font-size: 1.5rem;
}

/* Footer */

footer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  bottom: 0;
  width: 100%;
  min-height: 5%;
}

/* Buttons */
