.headerLogo {
  font-size: 40px;
  background: radial-gradient(
    circle,
    rgba(132, 94, 194, 1) 0%,
    rgba(214, 93, 177, 1) 25%,
    rgba(255, 111, 145, 1) 50%,
    rgba(255, 150, 113, 1) 75%,
    rgba(255, 199, 95, 1) 100%
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-weight: 900;
  font-style: italic;

  animation: gradientanim 6s cubic-bezier(0.68, -0.6, 0.32, 1.6) infinite;
  border: 2px rgba(255, 111, 145, 1) solid;
  border-radius: 20px;
  padding: 2px 5px 5px 5px;
}

@keyframes gradientanim {
  to {
    background-position: 200%;
  }
}
