.mainBox {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 2rem;
}

.notification {
  background: radial-gradient(
    circle,
    rgba(255, 111, 145, 1) 50%,
    rgba(255, 150, 113, 1) 75%
  );
  background-size: 200% auto;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin: 1rem;
  box-shadow: var(--shadow-elevation-medium);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.notification:hover {
  box-shadow: var(--shadow-elevation-low);
}

.close {
  margin-left: 1rem;
  transition: 0.2s;
}

.close:hover {
  transform: scale(1.3);
}
